@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@300;400;500;600;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+KR:wght@300;400;500;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@300;400;500;600;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@300;400;500;600;700;900&display=swap');


:root {
    --mc:#FAAE67;
    --sc:#D65490;
    --lc:#f7f7f7;
    --dc:#444444;
    --gc:#dddddd;
    --ac:#f25329;
}


* {margin:0;padding:0;}
html {font-size:20px;}
body {font-size:0.8rem;color:#000;}
#Wrap {min-width:95rem;}

/* 인트로 */
.intro figure img {width:100%;transform:translateX(10px);}
.intro figure {width:750px;animation:spinlight 2s infinite linear;}

@keyframes spinlight {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.intro .slogan h2 {font-size:3rem;font-weight:700;margin-bottom:1.5rem;color:#f25329;margin-left:150px;}
.intro .slogan p {font-size:0.75rem;font-weight:400;margin-bottom:0.6rem;color:#fff;margin-left:152px;font-family:'Montserrat', sans-serif;}

.intro .wheel {position:absolute;bottom:3rem;left:50%;transform:translateX(-50%);width:1.5rem;height:2.5rem;border:2px solid var(--lc);font-size:0;border-radius:0.7rem;opacity:0.5;}
.intro .wheel span {position:absolute;top:0.3rem;left:50%;transform:translateX(-50%);width:0.2rem;height:0.5rem;background:var(--lc);border-radius:0.1rem;animation:wheel 0.5s infinite}

@keyframes wheel {
    to {top:0.6rem}
}

/* 페이지 배경색 */
.section:first-child {overflow:hidden;background:url(./lib/base/bo_a.jpg) no-repeat center center/cover;background-attachment: fixed;}
.section:last-child {overflow:hidden;background:url(./lib/base/bo_a.jpg) no-repeat center center/cover;background-attachment: fixed;}
.section {overflow:hidden;background:url(./lib/base/bo_10.jpg) no-repeat center center/cover;background-attachment: fixed;}

/* 배경 숫자 */
.number {position:fixed;top:140px;right:250px;font-size:300px;color:#e1e6ea;z-index:1;font-family: 'Monoton', cursive;font-weight:400;letter-spacing:0.05em;font-style:italic;}
/* .number {position:fixed;top:60px;right:270px;font-size:350px;color:#e1e6ea;z-index:1;font-family: 'Montserrat', sans-serif;font-weight:600;letter-spacing:0.05em;} */


/* 왼쪽 상단 세모 2022 WEB UI&UX ART WORK 부분 */
#header h1 {position:fixed;top:3rem;left:5rem;z-index:999;color:#fff;line-height:1.2;font-weight:300;}
#header h1 a {display:block;width:15rem;font-family: 'Montserrat', sans-serif;}

/* <Contact 부분> */
#footer address {position:fixed;bottom:3rem;right:5rem;z-index:999;color:#fff;text-align:right;}
#footer address em {font-size:24px;color:var(--ac);display:block;margin-bottom:7px;}
#footer address dl {font-size:20px;font-weight:500;margin-bottom:10px;}
#footer address dl:after {content:"";display:block;width:40px;height:2px;background:#f25329;margin:10px 0 12px auto;}
#footer address dt {margin-bottom:2px;color:#a7a7a7;font-weight:700;}
#footer address dd {color:#a7a7a7;font-weight:700;}

/* nav부분 */
#header nav {position:fixed;top:50%;left:5rem;transform:translateY(-50%);z-index:999;}
.cover_btn {position:fixed;top:3rem;right:5rem;cursor:pointer;width:30px;height:30px;z-index:999;}
.cover_btn span {position:absolute;left:0;width:100%;height:1px;background:#fff;transition:0.5s;}
.cover_btn span:nth-child(1) {top:0;}
.cover_btn span:nth-child(2) {top:10px;}
.cover_btn span:nth-child(3) {top:10px;}
.cover_btn span:nth-child(4) {top:20px;}

.cover_btn.on span {background:#fff !important;}
.cover_btn.on span:nth-child(1) {opacity:0;}
.cover_btn.on span:nth-child(2) {transform:rotate(45deg);}
.cover_btn.on span:nth-child(3) {transform:rotate(-45deg);}
.cover_btn.on span:nth-child(4) {opacity:0;}

.cover_btn.on:before {content:'';position:absolute;top:-4px;background:#ff9f42;width:100%;height:100%;transform:scale(1.3)}

/* nav 알 부분 */
#cover {display:none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.75);width:100%;height:100vh;z-index:998;}
#cover ul {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:var(--dc);font-size:1rem;font-weight:300;line-height:1.6;text-align:center;background:var(--lc);padding:5rem;border-radius:50%;}

#cover ul li:hover {font-weight:500;}
#cover ul li:first-child {margin-bottom:7px;}
#cover ul li:last-child {margin-top:7px;}

#cover ul li a {border-bottom:1px solid transparent;padding:0 0;transition:0.5s;}
#cover ul li:hover a {border-bottom:1px solid #f25329;padding:0 7px;}


/* 왼쪽nav bar*/
#header nav li a {position:relative;display:block;width:5rem;height:1.2rem;text-indent:-99999px;}
#header nav li a:after {content:"";position:absolute;top:0.35rem;left:0;display:block;width:1.7rem;height:0.08rem;background:var(--ac);border-radius:0.15rem;transition:0.3s;}
#header nav li.on a:after {width:3.2rem;}


/* 컨테이너/목업 */
.container {position:relative;display:grid;grid-template-columns:repeat(2,1fr);gap:1rem;align-items:center;width:80rem;margin:0 auto;z-index:888;
}
*{outline:1px solid #369--;}
.section img {max-width:100%;}
/* .section .mockup {position:relative;background:url(./lib/base/mockup04.png) no-repeat;width:800px;height:400px;} */
.section .mockup {position:relative;background:url(./lib/base/mockup06.png) no-repeat;width:600px;height:510px;margin:0 130px;}
.section .mockup figure {position:absolute;top:18px;left:50%;transform:translateX(-50%);width:580px;height:337px;overflow:hidden;}
/* .section .mockup figure {position:absolute;top:20px;left:50%;transform:translateX(-50%);width:520px;height:340px;overflow:hidden;} */
.section .mockup figure img {position:absolute;top:0;left:0;width:100%;transition:5s;cursor:pointer;}
.section .mockup figure:hover img {transform:translateY(-100%);top:100%;}

.section .description {margin:0 -60px;width:700px;}
.section .description h3 img {max-width:200px;margin:0 0 20px 20px;}



/* 페이지설명 */

/* 페이지설명 ver1.*/*{outline:1px solid #369--;}
.section .description em {margin-left:auto;padding:0 130px;font-family: 'NanumSquare', sans-serif;color:var(--ac);display:block;font-size:18px;font-weight:600;text-align:right;transform:translateY(30px);}
.section .portfolio_01 .description p {font-size:15px;font-weight:400;margin-bottom:2rem;color:#666;}
.section .description dl {margin:0 20px;display:flex;line-height:1.7rem;color:#666;font-size:15px;}
.section .description dt {color:#000;font-size:15px;font-weight:500;font-family: 'Montserrat', sans-serif;}
.section .description dd {color:#333;font-size:15px;font-weight:300;}
.section .description dl dt {width:4.2rem;}

.section .description dl:last-of-type {margin-bottom:1.5rem;}
.section .description dd span {display:inline-block;width:0.8rem;height:0.8rem;border-radius:50%;vertical-align:middle;}
.section .description dd strong {vertical-align:middle;margin-right:1rem;}

.section .description ul {margin:0 20px;display:flex;gap:0.5rem;font-family: 'Montserrat', sans-serif;}


/* 웹 디자인가이드 버튼 */

.portfolio_01 .description ul a {display:block;background:#dbb1d2;color:var(--lc);line-height:2.5rem;padding:0 2rem;font-size:0.8rem;font-weight:400;border-radius:0.7rem;}
.portfolio_01 .description ul li:first-child a:hover {background:#dbb1d2;color:#000;font-weight:400;}
.portfolio_01 .description ul li:last-child a {background:#f3f1ea;color:#000;font-weight:400;}
.portfolio_01 .description ul li:last-child a:hover {background:#8766ad;color:#000;}


.portfolio_02 .description ul a {display:block;background:#600624;color:var(--lc);line-height:2.5rem;padding:0 2rem;font-size:0.8rem;font-weight:300;border-radius:0.7rem;}
.portfolio_02 .description ul li:first-child a:hover {background:#fcd5ce;color:#000;font-weight:400;}
.portfolio_02 .description ul li:last-child a {background:#f3f1ea;color:#000;font-weight:400;}
.portfolio_02 .description ul li:last-child a:hover {background:#fcd5ce;color:#000;}


.portfolio_03 .description ul a {display:block;background:#916e5c;color:var(--lc);line-height:2.5rem;padding:0 2rem;font-size:0.8rem;font-weight:300;border-radius:0.7rem;}
.portfolio_03 .description ul li:first-child a:hover {background:#003057;}
.portfolio_03 .description ul li:last-child a {background:#ccc;color:#000;font-weight:400;}
.portfolio_03 .description ul li:last-child a:hover {background:#0f4978;color:#fff;}


/* 페이지설명 ver2.*/
.portfolio_02 .description {margin-left:200px;}



*{outline:1px solid #fff--;}  



/* 날아오는거 */
.portfolio_01 .description {transform:translateX(1300px);opacity:0;}
.portfolio_01.on .description {transform:translateX(0);opacity: 1;;transition:0.7s;}

.portfolio_02 .description {transform:translateX(-500px);opacity:0;}
.portfolio_02.on .description {transform:translateX(0);opacity: 1;;transition:0.7s;}


/* 색깔 동그라미 */
.portfolio_01 .description dd span:nth-of-type(1) {background:#dbb1d2;}
.portfolio_01 .description dd span:nth-of-type(2) {background:#8766ad;}
.portfolio_01 .description dd span:nth-of-type(3) {background:#c71717;}

.portfolio_02 .description dd span:nth-of-type(1) {background:#600624;}
.portfolio_02 .description dd span:nth-of-type(2) {background:#fcd5ce;}
.portfolio_02 .description dd span:nth-of-type(3) {background:#f3f1ea;}

.portfolio_03 .description dd span:nth-of-type(1) {background:#003057;}
.portfolio_03 .description dd span:nth-of-type(2) {background:#0f4978;}
.portfolio_03 .description dd span:nth-of-type(3) {background:#916e5c;}


/*프로필 사진*/
@keyframes circle_move {
    0% {top:50%;left:25%;opacity:1;}
    100% {top:0;left:70%;opacity:0;}
}

*{outline:1px solid #fff--;} 
.profile {position:relative;}
.profile .inner {position:absolute;top:100px;left:-130px;width:15rem;height:15rem;padding:1rem;border:1px solid rgba(255,255,255,0.5);border-radius:50%;transform:translate(180px,-100px);}
.profile .inner strong {display:block;width:13rem;height:13rem;border-radius:50%;overflow:hidden;}
.profile .inner strong img {max-width:150%;transform:translateX(-80px);}
.profile .inner span {position:absolute;top:0;left:calc(50% - 0.5rem);width:1rem;height:7.5rem;font-size:0;animation:circle_thoto 6s infinite linear;transform-origin:bottom;}
.profile .inner span:after {content:"";display:block;width:1rem;height:1rem;background:var(--ac);border-radius:50%;margin-top:-0.5rem;}


@keyframes circle_thoto {
    0% {transform:rotate(0);}
    100% {transform:rotate(1turn);}
}

*{outline:1px solid #fff--;} 

/* 프로필 내용 */
.profile .container {width:1200px;margin:0 auto;display:flex;flex-wrap:wrap;gap:0;align-items:stretch;}
.profile .container>figure {width:33.333%;}
.profile .container>div {width:33.333%;padding:30px 40px;}

.profile em {position:relative;display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
.profile em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
.pf dl {display:flex;line-height:1.7rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
.pf dt {color:#fff;font-size:17px;font-weight:400;font-family: 'Montserrat', sans-serif;}
.pf dd {color:#fff;font-size:16px;font-weight:300;}
.pf dl dt {width:5rem;}

.edu  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
.edu  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
.edu  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
.edu  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
.edu  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
.edu  dl dt {width:17rem;}

.Lic  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
.Lic  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
.Lic  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
.Lic  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
.Lic  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
.Lic  dl dt {width:13rem;}

.award  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
.award  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
.award  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
.award  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
.award  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
.award  dl dt {width:20rem;}

.spec em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
.spec em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
.spec ul {display:flex;}
.spec ul li {margin-right:5px;}
.spec i {padding:0.5rem;background:#333;color:var(--lc);margin:0 0.25rem;border-radius:50%;font-size:20px;}

*{outline:1px solid #fff--;} 


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



여기서 부터 반응형


------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------
*/
@media (max-width:768px) {
    html {font-size:10px;}
    body {font-size:0.8rem;color:#000;}
    #Wrap {min-width:0;}

    /* 인트로 전구 이미지 */
    .intro figure img {width:100%;transform:translateX(10px);transform:translateY(-130px);}
    .intro figure {width:200px;animation:spinlight 2s infinite linear;margin:50px auto;}

    @keyframes spinlight {
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }

    .intro .slogan {transform:translateY(215px);}
    .intro .slogan h2 {font-size:3rem;font-weight:700;color:#f25329;margin:0 auto 1.5rem auto;width:300px;text-align:center;}
    .intro .slogan p {font-size:1rem;font-weight:400;color:#fff;margin:0 auto 0.6rem auto;width:300px;font-family:'Montserrat', sans-serif;text-align:center;}

    .intro .wheel {position:absolute;bottom:15rem;left:50%;transform:translateX(-50%);width:1.5rem;height:2.5rem;border:2px solid var(--lc);font-size:0;border-radius:0.7rem;opacity:0.5;}
    .intro .wheel span {position:absolute;top:0.3rem;left:50%;transform:translateX(-50%);width:0.2rem;height:0.5rem;background:var(--lc);border-radius:0.1rem;animation:wheel 0.5s infinite}

    @keyframes wheel {
        to {top:0.6rem}
    }

    *{outline:1px solid #fff--;} 
    /* 페이지 배경색 */
    .section:first-child {overflow:hidden;background:url(./lib/base/bo_a.jpg) no-repeat center center/cover;background-attachment: fixed;}
    .section:last-child {overflow:hidden;background:url(./lib/base/bo_a.jpg) no-repeat center center/cover;background-attachment: fixed;}
    .section {overflow:hidden;background:url(./lib/base/bo_10.jpg) no-repeat center center/cover;background-attachment: fixed;}

    /* 배경 숫자 */
    .number {display:none !important;position:fixed;top:140px;right:250px;font-size:300px;color:#e1e6ea;z-index:1;font-family: 'Monoton', cursive;font-weight:400;letter-spacing:0.05em;font-style:italic;}
    /* .number {position:fixed;top:60px;right:270px;font-size:350px;color:#e1e6ea;z-index:1;font-family: 'Montserrat', sans-serif;font-weight:600;letter-spacing:0.05em;} */


    /* 왼쪽 상단 세모 2022 WEB UI&UX ART WORK 부분 */
    #header h1 {position:fixed;top:3rem;left:3rem;z-index:999;color:#fff;line-height:1.2;font-weight:300;font-size:13px;}
    #header h1 a {display:block;width:15rem;font-family: 'Montserrat', sans-serif;}

    /* <Contact 부분> */
    #footer address {position:fixed;bottom:3rem;right:3rem;z-index:999;color:#fff;text-align:right;}
    #footer address em {font-size:20px;color:var(--ac);display:block;margin-bottom:7px;}
    #footer address dl {font-size:13px;font-weight:500;margin-bottom:10px;}
    #footer address dl:after {content:"";display:block;width:40px;height:2px;background:#f25329;margin:10px 0 12px auto;}
    #footer address dt {margin-bottom:2px;color:#a7a7a7;font-weight:700;font-size:12px;}
    #footer address dd {color:#a7a7a7;font-weight:700;font-size:12px;}

    /* nav부분 */
    #header nav {position:fixed;top:50%;left:5rem;transform:translateY(-50%);z-index:999;}
    .cover_btn {position:fixed;top:3rem;right:3rem;cursor:pointer;width:30px;height:30px;z-index:999;}
    .cover_btn span {position:absolute;left:0;width:100%;height:1px;background:#fff;transition:0.5s;}
    .cover_btn span:nth-child(1) {top:0;}
    .cover_btn span:nth-child(2) {top:10px;}
    .cover_btn span:nth-child(3) {top:10px;}
    .cover_btn span:nth-child(4) {top:20px;}

    #header .cover_btn.on span {background:#fff !important;}
    #header .cover_btn.on span:nth-child(1) {opacity:0;}
    #header .cover_btn.on span:nth-child(2) {transform:rotate(45deg);}
    #header .cover_btn.on span:nth-child(3) {transform:rotate(-45deg);}
    #header .cover_btn.on span:nth-child(4) {opacity:0;}

    #header .cover_btn.on:before {content:'';position:absolute;top:-4px;background:#ff9f42;width:100%;height:100%;transform:scale(1.3)}

    /* nav 알 부분 */
    #cover {display:none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.75);width:100%;height:100vh;z-index:998;}
    #cover ul {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:var(--dc);font-size: 5vw;font-weight:300;line-height:1.6;text-align:center;background:var(--lc);padding:5rem;border-radius:50%;}

    #cover ul li:hover {font-weight:500;}
    #cover ul li:first-child {margin-bottom:7px;}
    #cover ul li:last-child {margin-top:7px;}

    #cover ul li a {border-bottom:1px solid transparent;padding:0 0;transition:0.5s;}
    #cover ul li:hover a {border-bottom:1px solid #f25329;padding:0 7px;}


    /* 왼쪽nav bar*/
    #header nav li a {position:relative;display:none;width:5rem;height:1.2rem;text-indent:-99999px;}
    #header nav li a:after {content:"";position:absolute;top:0.35rem;left:0;display:block;width:1.7rem;height:0.08rem;background:var(--ac);border-radius:0.15rem;transition:0.3s;}
    #header nav li.on a:after {width:3.2rem;}


    /* 컨테이너/목업 */
    .container {position:relative;display:flex;flex-flow:column wrap;gap:0;align-items:stretch;width:100%;margin:0 auto;z-index:888;padding:20px;
   }
    .section img {width:100%;}
    .section .mockup {position:relative;background:url(./lib/base/mockup09.png) no-repeat;width:100%;height:310px;overflow:hidden;border-radius:20px 0 20px 0;margin:0 auto;}
    .section .mockup figure {position:relative;top:0;left:0;transform:translateX(0);width:100%;height:337px;overflow:hidden;}
    .section .mockup figure img {position:absolute;top:0;left:0;width:100%;transition:5s;cursor:pointer;}
    .section .mockup figure:hover img {transform:translateY(-100%);top:100%;}s
    .section .description h3 img {max-width:200px;margin:0 0 0 0;}



    .portfolio_01 .container {background-color:#e1e6ea;height:100vh;padding-top:100px;}
   



    /* 페이지설명 */

    /* 페이지설명 ver1.*/*{outline:1px solid #369--;}
    .section .description em {margin-left:auto;padding:0 5px;font-family: 'NanumSquare', sans-serif;color:var(--ac);display:block;font-size:17px;font-weight:700;text-align:left;position:relative;top:-385px;left:1rem}
    .section .portfolio_01 .description p {font-size:15px;font-weight:400;margin-bottom:2rem;color:#666;}
    .section .description dl {margin:0 20px;display:flex;line-height:1.7rem;color:#666;font-size:15px;}
    .section .description dt {color:#000;font-size:15px;font-weight:500;font-family: 'Montserrat', sans-serif;}
    .section .description dd {color:#333;font-size:15px;font-weight:300;}
    .section .description dl dt {width:4.2rem;}

    .section .description dl:last-of-type {margin-bottom:1.5rem;}
    .section .description dd span {display:inline-block;width:0.8rem;height:0.8rem;border-radius:50%;vertical-align:middle;}
    .section .description dd strong {vertical-align:middle;margin-right:1rem;}

    .section .description ul {position:absolute;top:-13px;left:30px;margin:0 30px;display:flex;gap:0.5rem;font-family: 'Montserrat', sans-serif;}
    /* left맞는지 ..? */
    .section .description ul a {display:block;background:#916e5c;color:var(--lc);line-height:2.5rem;padding:0 2rem;font-size:0.8rem;font-weight:300;border-radius:0.7rem;}

    .section .description ul li:first-child a:hover {background:#003057;}
    .section .description ul li:last-child a {background:#ccc;color:#000;font-weight:400;}
    .section .description ul li:last-child a:hover {background:#0f4978;color:#fff;}


    /* 페이지설명 ver2.*/
    .portfolio_02 .description {margin-left:200px;}



    *{outline:1px solid #fff--;}  



    /* 날아오는거 */
    .portfolio_01 .description {transform:translateX(1300px);opacity:0;}
    .portfolio_01.on .description {transform:translateX(0);opacity: 1;;transition:0.7s;}

    .portfolio_02 .description {transform:translateX(-500px);opacity:0;}
    .portfolio_02.on .description {transform:translateX(0);opacity: 1;;transition:0.7s;}


    /* 색깔 동그라미 */
    .portfolio_01 .description dd span:nth-of-type(1) {background:#003057;}
    .portfolio_01 .description dd span:nth-of-type(2) {background:#0f4978;}
    .portfolio_01 .description dd span:nth-of-type(3) {background:#916e5c;}

    .portfolio_02 .description dd span:nth-of-type(1) {background:#ff0000;}
    .portfolio_02 .description dd span:nth-of-type(2) {background:#ffff00;}
    .portfolio_02 .description dd span:nth-of-type(3) {background:#336699;}



    /*프로필 사진*/
    @keyframes circle_move {
        0% {top:50%;left:25%;opacity:1;}
        100% {top:0;left:70%;opacity:0;}
    }

    *{outline:1px solid #fff--;} 
    .profile {position:relative;}
    .profile .inner {position:absolute;top:100px;left:-130px;width:15rem;height:15rem;padding:1rem;border:1px solid rgba(255,255,255,0.5);border-radius:50%;transform:translate(180px,-100px);}
    .profile .inner strong {display:block;width:13rem;height:13rem;border-radius:50%;overflow:hidden;}
    .profile .inner strong img {max-width:150%;transform:translateX(-80px);}
    .profile .inner span {position:absolute;top:0;left:calc(50% - 0.5rem);width:1rem;height:7.5rem;font-size:0;animation:circle_thoto 6s infinite linear;transform-origin:bottom;}
    .profile .inner span:after {content:"";display:block;width:1rem;height:1rem;background:var(--ac);border-radius:50%;margin-top:-0.5rem;}


    @keyframes circle_thoto {
        0% {transform:rotate(0);}
        100% {transform:rotate(1turn);}
    }

    *{outline:1px solid #fff--;} 

    /* 프로필 내용 */
    .profile .container {width:900px;margin:0 auto;display:flex;flex-wrap:wrap;gap:0;align-items:stretch;}
    .profile .container>figure {width:33.333%;}
    .profile .container>div {width:33.333%;padding:30px 40px;}

    .profile em {position:relative;display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
    .profile em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
    .pf dl {display:flex;line-height:1.7rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
    .pf dt {color:#fff;font-size:17px;font-weight:400;font-family: 'Montserrat', sans-serif;}
    .pf dd {color:#fff;font-size:16px;font-weight:300;}
    .pf dl dt {width:5rem;}

    .edu  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
    .edu  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
    .edu  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
    .edu  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
    .edu  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
    .edu  dl dt {width:17rem;}

    .Lic  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
    .Lic  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
    .Lic  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
    .Lic  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
    .Lic  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
    .Lic  dl dt {width:13rem;}

    .award  em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
    .award  em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
    .award  dl {line-height:1.3rem;color:#fff;font-size:17px;font-family:'Montserrat', sans-serif;}
    .award  dt {color:#fff;font-size:16px;font-weight:400;font-family: 'Montserrat', sans-serif;}
    .award  dd {color:#f2f2f2;font-size:14px;font-weight:300;}
    .award  dl dt {width:20rem;}

    .spec em {display:flex;line-height:1.7rem;color:var(--ac);font-size:22px;font-family:'Montserrat', sans-serif;margin-bottom:20px;font-weight:500;}
    .spec em:after {position:absolute;top:40px;left:0;content:"";display:block;width:45px;height:2px;background:#f25329;}
    .spec ul {display:flex;}
    .spec ul li {margin-right:5px;}
    .spec i {padding:0.5rem;background:#333;color:var(--lc);margin:0 0.25rem;border-radius:50%;font-size:20px;}

    *{outline:1px solid #fff--;} 
    
}










/* 올라가는 버튼 */
/* #footer .toTop {position:fixed;bottom:3rem;right:3rem;z-index:999;}
#footer .toTop i {font-size:1.3rem;padding:.5rem;background:var(--ac);color:#fff;border-radius:50px;} */
/* #footer address {position:fixed;bottom:3rem;right:3rem;z-index:999;color:#fff;text-align:right;} 원래 :right3임 */

/* .intro figure {position:relative;border-radius:35% 65% 60% 40% / 47% 30% 70% 53%;overflow:hidden;animation:int_movie 4s infinite linear} */
/* 인트로에 노란색원 */
/* .intro .container:after {content:"";position:absolute;top:3rem;right:3rem;display:block;width:5rem;height:5rem;background:#ff0;border-radius:50%;opacity:0.7;} */
/* .intro figure:hover {border-radius:56% 44% 76% 24% / 25% 41% 59% 75%} */


/* @keyframes int_movie {
    0% {border-radius:35% 65% 60% 40% / 47% 30% 70% 53%;}
    50% {border-radius:24% 76% 2% 98% / 25% 77% 23% 75% }
    100% {border-radius:35% 65% 60% 40% / 47% 30% 70% 53%;}
} */

/* .portfolio_04 {overflow:hidden;}
.portfolio_04 .gooyee {position:absolute;top:10%;left:0;width:100%;height:100vh;font-size:0;}
.portfolio_04 .gooyee {overflow:hidden;filter:url('#bbq')}
.portfolio_04 .gooyee:before {content:"";display:block;width:40rem;height:40rem;background:var(--sc);border-radius:50%;position:absolute;top:20%;left:0;}
.portfolio_04 .gooyee:after {content:"";display:block;width:10rem;height:10rem;background:var(--sc);border-radius:50%;position:absolute;top:50%;left:25%;animation:circle_move 9s infinite;} */