/* body {height:100vh;background:linear-gradient(to top, #333 60%, #000);}
.main_visual {position: relative;width:500px;margin:0 auto;overflow:hidden;}
.case {width:1000px;transform: translateX(-250px);position:relative;}
 여긴 주석처리해놓음 .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:20px;font-weight:900;color:#fff;} 
.bgndVideo {} */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;600&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');




#wrap {min-width:1900px;font-family:'Montserrat', sans-serif;}


/* header */
.header {position:relative;width:100%;height:160px;background:#fff;z-index:999;}
.header .container {width:1200px;margin:0 auto;padding:0 15px;}
.header .first_nav {display:flex;justify-content:space-between;line-height:110px;}
.header .first_nav>ul {display:flex;line-height:90px;}
.header .first_nav>ul {display:flex;font-size:15px;font-weight:500;font-family:"Montserrat";}

.header .first_nav .right a {font-size:18px;}
.header hr {border:none;border-bottom:1px solid #ddd;}

.first_nav h1 {text-align:center;}
.first_nav h1 img {max-width:33%;}

.header .first_nav>ul.left li {display:block;margin-right:5px;font-size:15px;font-weight:500;color:#444;}
.header .first_nav>ul.left li~li:before {content:"I";margin-right:6px;color:#666;}

.header .first_nav>ul.right li {display:block;margin-left:7px;font-size:15px;font-weight:500;}
.header .right li:first-child>a {display:inline-block;font-size:15px;width:150px;height:33px;line-height:32px;text-align:center;background:#dbb1d2;border-radius:15px;color:#fff;transform:translateY(-2px);margin-right:10px;}
.header .right li:first-child>a:hover {border:1px solid #be7fb0;background:#fff;color:#90427f;font-weight:600;}
.header .right li:first-child>a i {margin-left:5px;vertical-align:middle;line-height:32px;}
.header .right li:first-child>a span {display:inline-block;margin-left:5px;vertical-align:middle;}






/* second_nav */
.second_nav .container {display:flex;width:1170px;justify-content:space-between;font-family:Montserrat;text-align:center;font-size:15px;font-weight:500;}
.second_nav .container>.gnb {color:#000;padding:10px 0;}

.second_nav .container .second_left {display:flex;}
.second_nav .container .second_right {display:flex;justify-content:flex-end;color:#777;}

.second_nav .container .gnb>li a {display:block;width:100%;height:100%;line-height:30px;padding:0 15px;position:relative;}
.second_nav .container .gnb>li~li:after {content:"I";color:#666;position:absolute;top:7px;left:0;}
.second_nav .container .gnb>li dl {position:absolute;top:0;left:0;}

/* .second_nav .container .gnb>li:hover {background:#dbb1d2;color:#fff;} */
.second_nav .gnb>li>ul>li {color:#000;}
.second_nav .gnb>li>ul>li:hover {color:#90427f;}
.second_nav .gnb>li {position:relative;}
.second_nav .gnb>li>.depth02 {position:absolute;top:60px;left:0;width:200px;text-align:left;background:#fff;border:1px solid rgba(0,0,0,0.2);opacity:0;visibility:hidden;transition:0.3s;}
.second_nav .gnb>li:hover>.depth02 {top:30px;opacity:1;visibility:visible;}

.second_nav .gnb>li>a {overflow: hidden;}
.second_nav .gnb>li span {display:block;background:#fff;position: absolute;top:30px;left:0;width:100%;font-family: 'Noto Serif KR', serif;}
/* transition:0.3s 0.3s; */
.second_nav .gnb>li:hover span {top:0;}


/* .main_visual */
.main_visual {position:absolute;width:100%;top:13px;left:0;}



/* .top_banner */
.top_banner {display:none;position:absolute;top:110px;left:50%;width:1170px;height:300px;background:#fff;opacity:80%;z-index:9999;transform:translateX(-50%);}

.top_banner ul {font-size:30px;}
.top_banner ul form {position:absolute;top:65px;left:250px;}

.top_banner .search_bar button {border:none;background:#dbb1d2;font-family:'Montserrat', sans-serif;font-weight:500;cursor: pointer;font-size:20px;width:120px;height:37px;vertical-align:middle;}
.top_banner .search_bar button:hover {border:1px solid #dbb1d2;background:#fff;}

.top_banner .search_bar input {background:none;border:none;border-bottom:1px solid #000;width:500px;outline:none;padding:0 7px;vertical-align:middle;font-size:24px;}
.top_banner .search_bar input::placeholder {font-size:20px;margin-bottom:50px;vertical-align:middle;}
/* .top_banner .search_bar li i{vertical-align:middle;} */

.top_banner ul li:last-child {position:absolute;top:69px;right:240px;}

.top_banner .container {width:670px;margin:0 auto;position:absolute;top:130px;left:250px;}
.top_banner .container strong {font-size:15px;font-weight:500;line-height:2;}

.top_banner .container .hot_search {display:flex;width:400px;flex-wrap:wrap;margin-right:5px;}
.top_banner .container .hot_search em {display:block;width:auto;line-height:1.5;background:#dbb1d2;border-radius:15px;margin-right:10px;font-size:13px;padding:1px 5px;margin-top:6px;opacity:85%;}




/* .popup01 */
.popup01 {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);cursor: pointer;}
.popup01 span {position:absolute;bottom:15px;right:20px;font-size:15px;color:#fff;background:#000;padding:3px;vertical-align:middle;}
.popup01 i {vertical-align:middle;}


*{outline:1px solid #f00;}

/* section01 top에서 938px까지가 동영상끝*/
.section01 {position:relative;padding:130px 0;background:#fff;margin-top:800px;position:relative;text-align:center;z-index:999;}

.section01 .title h2 {font-size:27px;font-family:"Montserrat";letter-spacing:0.05em;font-weight:400;}
.section01 .title h2:after {content:"";display:block;width:1px;height:25px;background:#dbb1d2;margin:10px auto;}
.section01 .title p {font-size:15px;margin-bottom:60px;font-family: 'Noto Serif KR', serif;}

.section01 .container {width:1400px;margin:0 auto;}
.section01 .container .case {padding:0 15px;}
.section01 .container figure {position:relative;border:1px solid #ddd;}
.section01 .container figure img {max-width:245px;margin:0 auto;border-bottom:1px solid #ddd;}

.section01 .container figure .icon {display:flex;position:absolute;bottom:23%;left:50%;transform:translateX(-50%);opacity:0;transition:0.5s;cursor: pointer;}
.section01 .container figure:hover .icon {opacity:1;}
.section01 .container figure .icon i {background:#dbb1d2;border-radius:50%;padding:5px;margin: 0 5px}

.section01 .container h3 {font-size:18px;line-height:2;}



.section01 .btn i {position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);font-size:50px;color:#dbb1d2;}
.section01 .btn i.xi-angle-left-thin {margin-left:-800px;}
.section01 .btn i.xi-angle-right-thin {margin-left:800px;}





/* .section02 */
.section02 .title {text-align:center;padding:130px 0;}
.section02 .title h2 {font-size:27px;font-family:"Montserrat";letter-spacing:0.05em;font-weight:400;}
.section02 .title h2:after {content:"";display:block;width:1px;height:25px;background:#dbb1d2;margin:10px auto;}
.section02 .title p {font-size:15px;font-family: 'Noto Serif KR', serif;}

.section02 ul {display:flex;}
.section02 ul li {flex:1;background:url(../img/sec_screen01.jpg) no-repeat center center/900px;height:750px;transition:0.5s;}
/* .section02 ul:nth-child(2) li {flex:2;background:url(../img/sec_screen02.jpg) no-repeat center center/1000px;height:800px;transition:0.5s;}
.section02 ul li {flex:1;background:url(../img/sec_screen03.jpg) no-repeat center center/1000px;height:800px;transition:0.5s;}
.section02 ul li {flex:1;background:url(../img/sec_screen04.jpg) no-repeat center center/1000px;height:800px;transition:0.5s;}
.section02 ul li {flex:1;background:url(../img/sec_screen05.jpg) no-repeat center center/1000px;height:800px;transition:0.5s;}
.section02 ul li {flex:1;background:url(../img/sec_screen06.jpg) no-repeat center center/1000px;height:800px;transition:0.5s;} */

.section02 ul li.on {flex:2;}


/* .section03*/
.section03 {padding:130px 0;text-align:center;position:relative;width:1400px;margin:0 auto;}
.section03 .title h2 {font-size:27px;font-family:"Montserrat";letter-spacing:0.05em;font-weight:400;}
.section03 .title h2:after {content:"";display:block;width:1px;height:25px;background:#dbb1d2;margin:10px auto;}
.section03 .title p {font-size:15px;margin-bottom:60px;font-family: 'Noto Serif KR', serif;}

/* .section03 {position: relative;width:500px;margin:0 auto;overflow:hidden;}
.case {width:1000px;transform: translateX(-250px);position:relative;}
.bgndVideo {} */

.section03 .btn i {position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);font-size:50px;color:#dbb1d2;}
.section03 .btn i.xi-angle-left-thin {margin-left:-800px;}
.section03 .btn i.xi-angle-right-thin {margin-left:800px;}

.section03 .container {position:relative;}
.section03 .container .right {position:absolute;top:0;right:0;}
.section03 .container .right .case {border:1px solid #369;width:500px;}
.section03 .container .right figure {border:1px solid #ddd;flex-wrap:wrap;width:100%;}
.section03 .container .right figure img {max-width:245px;border-bottom:1px solid #ddd;}
/*안내려가 왜  */

.section03 .container figure .icon {display:flex;position:absolute;bottom:23%;left:50%;transform:translateX(-50%);opacity:0;transition:0.5s;cursor: pointer;}
.section03 .container figure:hover .icon {opacity:1;}
.section03 .container figure .icon i {background:#dbb1d2;border-radius:50%;padding:5px;margin: 0 5px}





/* .scroll_banner */
.scroll_banner {display:none;position:absolute;top:300px;right:200px;cursor: pointer;}
.scroll_banner li {padding:15px;background:#dbb1d2;color:#000;margin:5px 0;font-size:22px;}

.scroll_banner li:first-child:before {content:"\ead8";font-family: xeicon!important;background:#dbb1d2;color:#000;}
.scroll_banner li:first-child:hover:before {content:"\ead7";font-family: xeicon!important;}

.scroll_banner li:last-child:before {content:"\ea3a";font-family: xeicon!important;background:#dbb1d2;color:#000;}
.scroll_banner li:last-child:hover:before {content:"\eb70";font-family: xeicon!important;}



/* .footer */
.footer {position:relative;top:3000px;padding:80px 0;}
.footer .container {width:1170px;margin:0 auto;}
.footer .container .top {display:flex;justify-content:space-between;border-bottom:1px solid #ddd;border-top:1px solid #ddd;line-height:64px;}
.footer .container .top ul {display:flex;position: relative;font-size:14px;}
.footer .container .top ul li a{display:block;padding:0 8px;line-height:64px;}
.footer .container .top ul li {position: relative;}
.footer .container .top ul li~li:after {content:"I";position:absolute;top:0;left:0;font-weight:300;}
.footer .container .top ul li:nth-child(3) {font-weight:600;}
.footer .container .top img {max-width:20%;margin-bottom:1px 0 5px 0;}

.footer .container .top .bottom {display:block;justify-content:space-between;}

.footer .container .left .container strong {display:block;font-size:20px;font-weight:500;line-height:2;margin-top:15px;}
.footer .container .left .container span {display:block;font-size:14px;margin-bottom:30px;font-weight:500;}

.footer .container .left .container dl {width:800px;}
.footer .container .left .container dt {color:#666;display:inline-block;font-size:13px;margin-right:7px;margin-bottom:7px;}
.footer .container .left .container dt:first-child {color:#000;}
.footer .container .left .container address {display:block;font-size:14px;margin-top:25px;}

.footer .container .right .sns {position:absolute;top:165px;right:380px;}
.footer .container .right .sns i {font-size:17px;background:#dbb1d2;border-radius:50%;padding:8px;color:#fff;cursor: pointer;}




