.hover {position:relative;width:400px;height:400px;background:url(../lib/base/apc_item_01.jpg);margin:100px auto;padding:50px;overflow:hidden;transition:0.6s;}
.hover h2 {font-size:25px;font-weight:500;margin-bottom:15px;}

/* 위로 올라가는 */
.hover01:hover {background-position-y:-100px;}   
/* 왼쪽으로 땡기는  */
.hover02:hover {background-position-x:-100px;}

/* 글 아래위에서 양옆에서 날아오는 (opacity있어서 글자가 없다가 생김) */
.hover03 {display:flex;color:#fff;font-size:13px;text-align: center;}
.hover03 p {margin:auto;line-height:2;opacity:0;transition:0.5s;}
.hover03 p:before {content:"";display:block;width:150px;height:1px;background:#fff;transform:translateX(-500px);transition:0.5s;}
.hover03 p:after {content:"";display:block;width:150px;height:1px;background:#fff;transform:translateX(500px);transition:0.5s;}
.hover03:hover p:before {transform:translateX(0);}
.hover03:hover p:after {transform:translateX(0);}
.hover03:hover p {opacity:1;}

/* 날아와서 +가 생기는 호버 */
.hover04 {display:flex;color:#fff;font-size:13px;text-align: center;}
.hover04 p {margin:auto;line-height:2;opacity:0;transition:0.5s;}
.hover04 p:before {content:"";display:block;width:1px;height:40px;background:#fff;transform:translate(60px,-400px);transition:1s cubic-bezier(   0.18, 0.89, 0.32, 1.28);}
.hover04 p:after {content:"";display:block;width:40px;height:1px;background:#fff;transform:translate(-400px,30px);transition:0.5s;}
.hover04:hover p:before {transform:translate(60px,76px);}
.hover04:hover p:after {transform:translate(40px,30px);}
.hover04:hover p {opacity:1;}
/* https://cubic-bezier.com/ */


/* +를x로 돌리는 오른쪽 하단 버튼 */
.hover05 .case {position:absolute;bottom:2px;right:2px;background:#fff;}
.hover05 i {padding:10px;font-size:30px;transition:0.5s;}
.hover05:hover i {transform:rotate(45deg);}


/* 왼쪽위 오른쪽 아래에서 각주처럼 나오는프레임 선 */
.hover06:before {content:"";display:block;width:0;height:0;border-top:1px solid #fff;border-left:1px solid #fff;position:absolute;top:10px;left:10px;transition:0.4s;}
.hover06:after {content:"";display:block;width:0;height:0;border-bottom:1px solid #fff;border-right:1px solid #fff;position:absolute;bottom:10px;right:10px;transition:0.4s;}

.hover06:hover:before {width:380px;height:380px;}
.hover06:hover:after {width:380px;height:380px;}


/* 오 밑 좌 위 로 가는 라인.. 근데 그라데이션을 곁들인....(linear-gradient(to left, #ff0, #f00);) */
.hover07 {background:#333;}
.hover07 p {position:absolute;top:10px;left:10px;width:380px;height:380px;background:url(../lib/base/apc_item_01.jpg);z-index:999;}

.hover07 span {position:absolute;}
.hover07 span:nth-of-type(1) {top:0;left:0;width:0;height:10px;background:linear-gradient(to left, #ff0, #f00);transition:0.5s 1.5s}
.hover07 span:nth-of-type(2) {top:0;right:0;width:10px;height:0;background:linear-gradient(to top, #f00, #ff0);transition:0.5s 1s}
.hover07 span:nth-of-type(3) {bottom:0;right:0;width:0;height:10px;background:linear-gradient(to left, #ff0, #f00);transition:0.5s 0.5s}
.hover07 span:nth-of-type(4) {bottom:0;left:0;width:10px;height:0;background:linear-gradient(to top, #f00, #ff0);transition:0.5s}

.hover07:hover span:nth-of-type(1) {top:0;left:0;width:400px;height:10px;transition:0.5s}
.hover07:hover span:nth-of-type(2) {top:0;right:0;width:10px;height:400px;transition:0.5s 0.5s}
.hover07:hover span:nth-of-type(3) {bottom:0;right:0;width:400px;height:10px;transition:0.5s 1s}
.hover07:hover span:nth-of-type(4) {bottom:0;left:0;width:10px;height:400px;transition:0.5s 1.5s}


/* 가운데에서 양옆으로 늘어나는 라인  */
.hover08 h2:after {content:"";display:block;width:0;height:5px;background:#f00;margin:10px auto;transition: 0.5s;}
.hover08 h2:hover:after {width:150px;}

.hover08 p {position:relative;}
.hover08 p:after {content:"";display:block;width:0;height:5px;background:#f00;position:absolute;top:10px;left:50%;transform:translateX(-50%);transition: 0.5s;}
.hover08 p:hover:after {width:150px;}

.hover08 strong {position:relative;}
.hover08 strong:after {content:"";display:block;width:150px;height:5px;background:#f00;transform:scaleX(0);transition: 0.5s;}
.hover08 strong:hover:after {transform:scaleX(1);}


/* 네모버튼이 동그라미 버튼으로 호버 / 화살표를 손을 대면 글자와 화살표가 주르륵 나오는 */
.hover09 .btn01 {display:block;margin:30px 0;}
.hover09 .btn01 span {display:inline-block;width:0;white-space:nowrap;overflow:hidden;transition:0.5s;}
.hover09 .btn01:hover span {width:100px;}

.hover09 .btn02 {display:block;width:150px;border:3px solid #f00;text-align:center;line-height:44px;border-radius:10px;}
.hover09 .btn02:hover {border-radius:30px;background:#f00;color:#fff;}





















