
/* <body>
<div class="box">
    나는 박스다.
</div>
<figure>
    <div class="box">나는 피규어안의 박스다</div>
</figure>
---</body> */


/* body {overflow:visible;}
.box {margin-left:500px;background:#ff0;width:100%;}
figure {width:100%;} 
------------------100%와 auto는 다르다는 예를 보여주려고 만든것. 
100%는 상속받는 값이다! (.box의 width값을 빼면 스크롤이 안생긴다.   */




#header {position:fixed;top:0;left:0;width:350px;height:100vh;background:#ff0;}
#visual {margin:0 350px 0 350px;background:#f00;height:100vh;}
#footer {position:fixed;top:0;right:0;width:250px;background:#369;height:100vh;}



@media (max-width:768px) {
    #header {position:static;width:auto;}
    #visual {margin:0 0 0 0;}
    #footer {position:static;width:auto;}
}


































































































