#wrap  {min-width:1900px;}

#header {line-height:60px;}

#header .container {display:flex;justify-content: space-between;width:1200px;margin:0 auto;}
#header h1 {}
#header ul {display:flex;}













3