@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*--------------------------------------------------------------------------------------------------------------------------- #top_banner */


#top_banner {background:#ddd9d6;}
#top_banner .container {display:flex;position:relative;width:1200px;margin:0 auto;padding:15px;}
#top_banner .container figure img {width:100px;}
#top_banner .con {margin-top:18px;margin-left:50px;}
#top_banner .con h2 {font-size:18px;font-weight:500;letter-spacing:0.04em;margin-bottom:6px;}
#top_banner .con p {font-size:14PX;letter-spacing:-0.025em;font-weight:400;}
#top_banner i {position:absolute;top:25px;right:15px;font-size:13px;background:#555;color:#fff;width:27px;line-height:27px;text-align:center;cursor: pointer;}


/*------------------------------------------------------------------------------------------------------------------------------- #header*/


/* .gnb */
.gnb {background:#000;position:relative;border-bottom:1px solid transparent;}
.gnb .depth01 {display:flex;justify-content:space-between;width:1200px;margin:0 auto;color:#fff;}
.gnb .depth01 h1 {padding:17px 0 0 0;}
.gnb .depth01>li>a {display:block;padding:0 3rem;font-size:1rem;font-weight:400;line-height:5;}
.gnb .depth01>li>a:hover {color:#ad7b61;}
.gnb .depth01>li {position:relative;}

.gnb .depth02 {padding:10px 0 0 0;height:0;overflow:hidden;position:absolute;top:4rem;left:0;width:100%;transition:0.5s;z-index:999;}

.gnb:before {content:"";display:block;width:100%;height:0;background:#000;opacity:0.9;position:absolute;top:calc(5rem + 1px);left:0;transition:0.5s;z-index:999;}
.gnb:hover {border-bottom:1px solid rgba(255,255,255,0.3);}
.gnb:hover:before {height:23rem;}
.gnb:hover .depth02 {padding:20px 0 0 0;height:23rem;font-size:13px;font-weight:300;}

.gnb .depth02>li>a {position:relative;display:block;line-height:1.8rem;text-align:center;color:#fff;padding:0.5rem 0;}
.gnb .depth02>li>a:hover {color:#ad7b61;font-size:14px;transition:0.2s;font-weight:400;}

/* .gnb .depth02>li>a:after {content:"";display:block;width:0;height:1px;margin:0 auto;background:#85604c;transition:0.5s;} */
.gnb .depth02>li>a:hover:after {width:80%;}

.mopen {display:none;}


/*------------------------------------------------------------------------------------------------------------------------------  #main_visual*/

/* *{outline:1px solid #f00;} */

#main_visual {position:relative;}
#main_visual .main_slider figure {height:calc(100vh - 70px);background:#333;}
#main_visual .main_slider .visual01 {background:url(../img/main_visual01_01.jpg) no-repeat center center/cover;}
#main_visual .main_slider .visual02 {background:url(../img/main_visual02_02.webp) no-repeat center center/cover;}
#main_visual .main_slider .visual03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}

#main_visual .main_slider .txt {display:block;color:#fff;width:1200px;margin:0 auto;padding:0 85px;margin-top:220px;font-family: 'Montserrat', sans-serif;}
#main_visual .main_slider .txt h2 {opacity:0;transform:translateY(100px);font-size:18px;font-weight:300;letter-spacing:-0.025em;margin-bottom:10px;}
#main_visual .main_slider .txt strong {opacity:0;transform:translateY(100px);display:block;font-size:80px;font-weight:500;letter-spacing:-0.025em;margin-bottom:20px;text-shadow:1px 1px 0 #000;text-indent:-10px;}
#main_visual .main_slider .txt p {opacity:0;transform:translateY(100px);display:block;font-size:20px;font-weight:300;letter-spacing:-0.025em;margin-bottom:150px;}
#main_visual .main_slider .txt a {display:block;font-size:16px;line-height:45px;width:160px;background:#000;text-align:center;letter-spacing:-0.025em;border:1px solid #fff;}
#main_visual .main_slider .txt a:hover {background:#fff;color:#000;}


#main_visual .main_slider figure.on .txt h2 {opacity:1;transform:translateY(0);transition:0.5s;}
#main_visual .main_slider figure.on .txt strong {opacity:1;transform:translateY(0);transition:0.7s 0.7s;}
#main_visual .main_slider figure.on .txt p {opacity:1;transform:translateY(0);transition:0.7s 1.4s;}


/* 질문 >>> 사진이 안으로 안에서 안커지고 밖으로 커질때... 
   답변 >>> 이거 사진이 안에서 커지려면 html에서 밑에 그림의 2번처럼 싸는게 아니라 1번처럼 figure안에 div박스 클래스를 주고 그 안에 img를 싸면 된당 

    <a href="#" class="list">
        <figure>
            <div class="case">
1번          <img src="./img/section02.01.jpg" alt="">
            </div>
            <a href="#">G70</a>
        </figure> 
        <figure>
            <img src="./img/section02.02.jpg" alt="">
2번            <a href="#">G80</a>
        </figure>


*/


#main_visual .slick-dots {position:absolute;display:flex;justify-content:center;bottom:50px;left:0;width:100%;cursor: pointer;}
/* 질문 >>> 여긴 블록이 없는데 왜 탑 레프트가 먹히는거죠??
답변 >>> top left는 position이 있어야 먹힙니당. 맨앞에 position을 잡아줬기 때문에 잡힙니당  */
/* 질문 >>> 왜 앱솔루트를 했지만 박스가 왼쪽으로 잡히는거죠??? 
답변 >>> position:absolute;를 하면 박스가 쪼그라들기 때문에 꼭꼭꼭 뒤에서 width:100%;로 박스를 펴 줘야한답니당당구리  */
#main_visual .slick-dots li {width:16px;height:16px;border-radius:50px;background:#d5d2d2;margin:0 13px;}
#main_visual .slick-dots li.slick-active {background:#5f5e5e;}
#main_visual .slick-dots li button {display:none;}

/* 질문 >>> justify-content:center; 와 ~:space-between 는 어디에서 먹히나요? 
   답변 >>> flex가 되어야 먹힙니당 
*/

#main_visual i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#d5d2d2;font-size:50px;font-weight:100;cursor: pointer;z-index: 9999;}
#main_visual .icon .xi-angle-left-thin {margin-left:-800px;}
#main_visual .icon .xi-angle-right-thin {margin-left:800px;}
/* 
*{outline:1px solid #f00;} */
/*------------------------------------------------------------------------------------------------------------------------------  #section01*/

#section01 {padding:120px 0;width:1200px;margin:0 auto;text-align:center;}
#section01 h2 {font-size:40px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
#section01 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:255px;}
#section01 p {font-size:17px;font-weight:300;letter-spacing:-0.025em;line-height:10px;margin-bottom:45px;margin-top:20px;}

#section01 .menu {display:block;color:#fff;width:210px;margin:40px auto 20px;}
/*질문 >>> 마진 이렇게 2개 들어가도 되나요? 먹히는건지 아닌지.... 아님 margin:20px 0 40px 0; 이걸 뺴고 사진에 마진탑을 줘야 하나요  
마진2개는 말도 안되고 */
/* #section01 nav ul {margin:0 auto;} */
#section01 .menu>ul>li {position:relative;line-height:40px;}
#section01 .menu>ul>li>a>i {position:relative;line-height:40px;}
#section01 .menu>ul>li>a {display:flex;justify-content:space-between;padding:0 5px;border-bottom:1px solid #333;color:#333;font-weight:400;} 
#section01 .menu>ul ul a {line-height:50px;}
#section01 i {line-height:30px;}
#section01 .menu>ul>li>a.on i {transform:rotate(180deg)}
/* 봐봐 #section01 ul>li>a {display:flex;justify-content:space-between;padding:0 20px;}  이렇게만 주니까 화살표는 박스가 세로로 잡히니까 
#section01 i {line-height:50px;} 여기서 라인하이트를 줘서 가운데로 보낸다. */
#section01 ul>li>ul>li~li {border-top:1px solid #666;}
#section01 ul>li>ul {display:none;position:absolute;left:50%;transform:translateX(-50%);width:100%;text-align:center;background: #333;border:1px solid #333;z-index:999;}
#section01 ul>li>ul>li:hover {background:#666;color:#fff;}


#section01 .container {display:flex;flex-wrap:wrap}
#section01 .container figure {display:block;margin-top:30px;padding:0 15px;}

#section01 .case  {overflow:hidden;}
#section01 figure img {transition:0.4s;}
#section01 figure:hover img {transform:scale(1.1);}

#section01 .container figure a {display:flex;justify-content:center;font-size:30px;letter-spacing:-0.025em;line-height:70px;background:#000;color:#fff;}
#section01 .container figure a:hover {background:#222;color:#f2f2f2;opacity:0.9;}



/*--------------------------------------------------------------------------------------------------------이벤트---------------  #section02*/


#section02 {padding:120px 0;background:#efeeee;}
#section02 .container {display:flex;flex-wrap:wrap;width:1200px;margin:0 auto;padding:0 15px;align-items:center;}

#section02 .title {text-align:center;}
#section02 h2 {font-size:40px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
#section02 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:110px;}
#section02 p {font-size:17px;font-weight:300;letter-spacing:-0.025em;line-height:10px;margin-bottom:45px;margin-top:20px;}

#section02 img {max-width:100%;}
#section02 .pic {width:50%;}
#section02 .let {width:50%;}


#section02 .left {text-align:left;padding:0 0 0 50px;}
#section02 .right {text-align:right;padding:0 50px 0 0;}

#section02 .let_con h2 {font-size:27px;font-weight:500;letter-spacing:-0.025em;border-bottom:1px solid #333;margin-bottom:20px;}



#section02 .let ul {font-size:25px;cursor: pointer;}
#section02 .let ul li {position: relative;margin:0 10px;display:inline-block;}
#section02 .let li:nth-child(1):before {content:"\e9ea";font-family: xeicon!important;color:#000;}
#section02 .let li:nth-child(1):hover:before {content:"\e9e9";font-family: xeicon!important;color:#000;}
#section02 .let li:nth-child(2):before {content:"\e9f1";font-family: xeicon!important;color:#000;}
#section02 .let li:nth-child(2):hover:before {content:"\e9f0";font-family: xeicon!important;color:#000;}
#section02 .let li:nth-child(3):before {content:"\e9c0";font-family: xeicon!important;color:#000;}
/* nth-child 의 nth가 몇번째자식의 몇이 (1)이다.  */
/* 질문 >>> 아이콘이 세로로 세워져 플렉스를 했는데 왜 이걸 display:inline-block;를 해야하나요? 
답변 >>>  텍스트(i도 포함)를 박스로 만들고 가로로 가는 성질이 있어서 가로로 만들어 진겁니당 그리고 inline-block은 사이에 4px정도 띄워지는 성질이 있답니당*/



#section02 .let_con p {font-size:18px;font-weight:400;line-height:20px;margin-bottom:15px;}
#section02 .let_con strong {font-size:14px;font-weight:400;letter-spacing:0.025em;}



/*---------------------------------------------------------------------------------------------------------메인배너-------------  #main_banner*/

#main_banner {padding:90px 0 90px; background:url(../img/main_banner.jpg) no-repeat center center/cover;background-attachment:fixed;color:#fff;}
#main_banner .container {width:1000px;margin:0 auto;}

#main_banner .left {text-align:left;padding:0 0 120px 0;}
#main_banner .left h2 {font-size:35px;font-weight:400;margin-bottom:13px;}
#main_banner .left p {font-size:18px;font-weight:300;letter-spacing:-0.025em;margin-bottom:20px;}
#main_banner .left em {font-size:20px;font-weight:300;letter-spacing:-0.025em;}

#main_banner .right {text-align:right;padding:0 80px 0 0;}
#main_banner .right h3 {font-size:24px;font-weight:400;margin-bottom:10px;}
#main_banner .right p {font-size:18px;font-weight:300;letter-spacing:-0.025em;margin-bottom:10px;}
#main_banner .right em {font-size:19px;font-weight:500;letter-spacing:3px;}


/*-----------------------------------------------------------------------------------------------------------------비디오--------  #section04*/




#section04 {padding:120px 0;width:1170px;margin:0 auto;text-align:center;}
#section04 h2 {font-size:40px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
#section04 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:100px;}
#section04 p {font-size:17px;font-weight:300;letter-spacing:0.025em;line-height:10px;margin-bottom:45px;margin-top:20px;}
#section04 i {font-size:18px;padding:8px;background:#333;color:#fff;border-radius:5px;cursor: pointer;}
/* #section04 .container figure {margin-top:50px;} */
#section04 .container figure i {margin-bottom:40px;}
#section04 .container .video01 {margin-top:30px;}


/*---------------------------------------------------------------------------------------------------시승신청------------------  #section05*/
/* flex를 하던가 인라인블록을 하던가 상황에 맞춰서 사용  */

/* #section05 {background:#000;color:#fff;height:500px;position: relative;}
#section05 .full {margin:0 auto;width:1200px;}

#section05 .right {text-align:right;width:1200px;position: absolute;top:140px;left:50%;transform:translateX(-50%);padding:0 70px;}

#section05 .right h2 {font-size:35px;font-weight:500;margin-bottom:18px;}
#section05 .right p {font-size:17px;font-weight:300;letter-spacing:-0.035em;line-height:1.1;margin-bottom:60px;}


#section05 .right .icon {text-align:right;} */

/* 글이 두개가 들어가면 디스플레이 인라인블록도 안먹음  */
/* #section05 .right .icon a {display:inline-block;font-size:18px;font-weight:500;background:#dbd8d5;color:#000;line-height:40px;width:110px;text-align:center;border-radius:99px;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;margin-left:14px;}
#section05 .right .icon a:hover {background:#333;font-weight:400;font-size:18px;color:#dbd8d5;} */


/* background:#dbd8d5;color:#000; */


#section05 {padding:130px 0;background:url(../img/section05_full.jpg) no-repeat top left/cover;}

#section05 .right{display:inline-block;text-align:right;width:1200px;top:140px;left:50%;transform:translateX(15%);color:#fff;}

#section05 .right h2 {font-size:35px;font-weight:400;margin-bottom:22px;}
#section05 .right p {font-size:17px;font-weight:300;letter-spacing:-0.025em;line-height:1.2;margin-bottom:60px;}

#section05 .right .icon a {display:inline-block;font-size:16px;font-weight:400;background:#dbd8d5;color:#000;line-height:40px;width:130px;text-align:center;border-radius:99px;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;margin-left:14px;}
#section05 .right .icon a:hover {background:#333;color:#dbd8d5;} 


/* #section05 .right .icon a {display:inline-block;font-size:16px;font-weight:400;background:#000;color:#fff;line-height:40px;width:150px;text-align:center;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;margin-left:14px;border:1px solid #fff;}
#section05 .right .icon a:hover {background:#fff;color:#000;} */


/*---------------------------------------------------------------------------------------------------방문예약신청-----지도-------  #section06*/



#section06 {padding:120px 0;background:#f7f7f7;}
#section06 .container {width:1200px;display:flex;margin:0 auto;justify-content:space-between;padding:0 15px;}
#section06 .container>div {flex:1;}
#section06 h2 {font-size:40px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
/* #section06 hr {display:block;border:none;border-bottom:2px solid #666;width:280px;margin-top:5px;} */
#section06 p {font-size:16px;font-weight:300;letter-spacing:-0.025em;line-height:20px;margin-bottom:45px;margin-top:20px;}

/* #section06 .container .map {display:block;} */
/* 이거 블락 안하면 안되는건가?? */

#section06 .container .left .res a {margin-right:10px;}


#section06 .container .left a {display:inline-block;font-size:16px;font-weight:400;background:#333;color:#dbd8d5;line-height:45px;width:190px;text-align:center;border-radius:80px;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;}
#section06 .container .left a:hover {background:#dbd8d5;color:#000;}

/* #section06 .container .left a {display:inline-block;font-size:16px;font-weight:300;background:#000;color:#fff;border:1px solid #fff;line-height:45px;width:190px;text-align:center;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;}
#section06 .container .left a:hover {background:#fff;color:#000;border:1px solid #000;} */





/* background:#dbd8d5;color:#000;
background:#333;color:#dbd8d5; */

/*-----------------------------------------------------------------------------------------------------------------------------#footer*/

/* 
*{outline:1px solid #f00;} */

#footer {background:#14120e;color:#f4f4f4;font-weight:300;}
#footer .container {display:flex;width:1200px;margin:0 auto;padding:0 15px;justify-content:space-between;}
#footer .customer_link {display:flex;line-height:100px;}
#footer .customer_link li {position: relative;font-size:14px;font-weight:300;padding:0 20px;}
#footer .customer_link li:nth-child(4) {color:#ad7b61;font-weight:400;font-size:15px;}
#footer .customer_link li~li:before {content:"I";position:absolute;top:0;left:0;color:#fff;}
#footer hr {border:none;border-top:1px solid #333;}
#footer .sns {font-size:17px;padding:0 15px;line-height:100px;}
#footer .sns i {border-radius:50%;background:#ad7b61;padding:10px;}

#footer .lastfooter figure {margin-bottom:20px;}
#footer .lastfooter {text-align:center;padding:40px 0;}
#footer .lastfooter em {font-size:14px;}
#footer .toTop {display:none;position:fixed;bottom:5rem;right:8rem;cursor: pointer;z-index:999;}
#footer .toTop i {font-size:1.3rem;padding:.5rem;background:#000;color:#fff;}


/* ----------------여기서 부터 반응형------------------------------------------------------------------------------------------------------------------------------------ */

@media (max-width:768px) {

   #top_banner {display:none;background:#ddd9d6;}
   #top_banner .container {display:flex;position:relative;width:1200px;margin:0 auto;padding:15px;}
   #top_banner .container figure img {width:100px;}
   #top_banner .con {margin-top:18px;margin-left:50px;}
   #top_banner .con h2 {font-size:18px;font-weight:500;letter-spacing:0.04em;margin-bottom:6px;}
   #top_banner .con p {font-size:14PX;letter-spacing:-0.025em;font-weight:400;}
   #top_banner i {position:absolute;top:25px;right:15px;font-size:13px;background:#555;color:#fff;width:27px;line-height:27px;text-align:center;cursor: pointer;}


   /*------------------------------------------------------------------------------------------------------------------------------- #header*/


   /* .gnb */
   .gnb {position:fixed;top:0;left:-100%;background:#000;border-bottom:1px solid transparent;z-index:9999;width:calc(100% - 90px);height:100vh;transition:0.5s;}
   .gnb.on {left:0;}
   .gnb .depth01 {display:block;justify-content:space-between;width:auto;margin:0 auto;color:#fff;padding:100px 0 0 0;}
   .gnb .depth01 h1 {padding:0;position:fixed;top:30px;left:30px;}
   .gnb .depth01>li>a {display:block;padding:0 3rem;font-size:1rem;font-weight:400;line-height:4;}
   .gnb .depth01>li>a:hover {color:#ad7b61;}
   .gnb .depth01>li {position:relative;border-bottom:1px solid #333;}

   .gnb .depth02 {display:none;padding:20px 0 0 0;height:auto;overflow:hidden;position:static;top:4rem;left:0;width:100%;transition:none;z-index:999;background:#222;}

   .gnb:before {content:"";display:none;width:100%;height:0;background:#000;opacity:0.9;position:absolute;top:calc(5rem + 1px);left:0;transition:none;z-index:999;}
   .gnb:hover {border-bottom:1px solid rgba(255,255,255,0.3);}
   .gnb:hover:before {display:none;height:auto;}
   .gnb:hover .depth02 {display:none;height:auto;transition:none;}

   .gnb .depth02>li>a {position:relative;display:block;font-size:14px;line-height:1.7rem;text-align:left;color:#fff;padding:10px 45px;border-bottom:1px solid #333;}
   .gnb .depth02>li>a:hover {color:#ad7b61;font-size:14px;transition:none;font-weight:400;padding:10px 45px;}

   .gnb .depth02>li>a:hover:after {width:80%;}

   .mopen {display:block;position:fixed;top:30px;right:30px;color:#fff;font-size:30px;z-index:9999;}


   /*------------------------------------------------------------------------------------------------------------------------------  #main_visual*/

   /* *{outline:1px solid #f00;} */

   #main_visual {position:relative;}
   #main_visual .main_slider figure {height:100vh;background:#333;}
   #main_visual .main_slider .visual01 {background:url(../img/main_visual01_01.jpg) no-repeat -950px middle/cover;}
   #main_visual .main_slider .visual02 {background:url(../img/main_visual02_02.webp) no-repeat -100px center/cover;}
   #main_visual .main_slider .visual03 {background:url(../img/main_visual03.jpg) no-repeat -680px 10px/cover;}

 
   #main_visual .main_slider .txt {display:block;color:#fff;width:auto;margin:0 auto;padding:0 50px;margin-top:120px;font-family: 'Montserrat', sans-serif;}
   #main_visual .main_slider .txt h2 {opacity:0;transform:translateY(100px);font-size:17px;font-weight:300;letter-spacing:-0.025em;margin-bottom:10px;}
   #main_visual .main_slider .txt strong {opacity:0;transform:translateY(100px);display:block;font-size:45px;font-weight:500;letter-spacing:-0.025em;margin-bottom:20px;text-shadow:1px 1px 0 #000;text-indent:-10px;}
   #main_visual .main_slider .txt p {opacity:0;transform:translateY(100px);display:block;font-size:15px;font-weight:300;letter-spacing:-0.025em;margin-bottom:150px;}
   #main_visual .main_slider .txt a {display:block;position:absolute;transform:translateY(-130px);font-size:13px;line-height:36px;width:140px;background:#000;text-align:center;letter-spacing:-0.025em;border:1px solid #fff;}
   #main_visual .main_slider .txt a:hover {background:#fff;color:#000;}


   #main_visual .main_slider figure.on .txt h2 {opacity:1;transform:translateY(0);transition:0.5s;}
   #main_visual .main_slider figure.on .txt strong {opacity:1;transform:translateY(0);transition:0.7s 0.7s;}
   #main_visual .main_slider figure.on .txt p {opacity:1;transform:translateY(0);transition:0.7s 1.4s;}


   #main_visual .slick-dots {position:absolute;display:flex;justify-content:center;bottom:50px;left:0;width:100%;cursor: pointer;}

   #main_visual .slick-dots li {width:13px;height:13px;border-radius:50px;background:#d5d2d2;margin:0 13px;}
   #main_visual .slick-dots li.slick-active {background:#5f5e5e;}
   #main_visual .slick-dots li button {display:none;}

   #main_visual i {display:none;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#d5d2d2;font-size:50px;font-weight:100;cursor: pointer;z-index: 9999;}
   #main_visual .icon .xi-angle-left-thin {margin-left:-800px;}
   #main_visual .icon .xi-angle-right-thin {margin-left:800px;}
 
   /*------------------------------------------------------------------------------------------------------------------------------  #section01*/

   #section01 {padding:120px 28px;width:auto;margin:0 auto;text-align:center;background:#000;}
   #section01 h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;color:#fff;}
   #section01 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:255px;}
   #section01 p {font-size:14px;font-weight:200;letter-spacing:-0.025em;line-height:17px;margin-bottom:45px;margin-top:20px;color:#fff;}

   #section01 .menu {display:block;color:#fff;width:210px;margin:40px auto 20px;}

   #section01 .menu>ul>li {position:relative;line-height:40px;}
   #section01 .menu>ul>li>a>i {position:relative;line-height:40px;color:#fff;}
   #section01 .menu>ul>li>a {display:flex;justify-content:space-between;padding:0 15px;border-bottom:1px solid #333;color:#fff;font-weight:100;} 
   #section01 .menu>ul ul a {line-height:50px;color:#fff;}
   #section01 i {line-height:30px;}
   #section01 .menu>ul>li>a.on i {transform:rotate(180deg);}
   /* 봐봐 #section01 ul>li>a {display:flex;justify-content:space-between;padding:0 20px;}  이렇게만 주니까 화살표는 박스가 세로로 잡히니까 
   #section01 i {line-height:50px;} 여기서 라인하이트를 줘서 가운데로 보낸다. */
   #section01 ul>li>ul>li~li {border-top:1px solid #666;}
   #section01 ul>li>ul {display:none;position:absolute;left:50%;transform:translateX(-50%);width:100%;text-align:center;background: #333;font-weight:100;border:1px solid #333;z-index:999;}
   #section01 ul>li>ul>li:hover {background:#666;color:#fff;}


   #section01 .container {display:block;flex-wrap:wrap;}
   #section01 .container figure {display:block;margin-top:30px;padding:0;}

   #section01 .case  {overflow:hidden;}
   #section01 figure img {transition:0.4s;}
   #section01 figure:hover img {transform:scale(1.1);}

   #section01 .container figure a {display:flex;justify-content:center;font-size:22px;letter-spacing:-0.025em;line-height:55px;background:#222;color:#fff;}
   #section01 .container figure a:hover {background:#2a2a2a;color:#f2f2f2;opacity:0.9;}



   /*--------------------------------------------------------------------------------------------------------이벤트---------------  #section02*/


   #section02 {padding:120px 28px;background:#efeeee;}
   #section02 .container {display:flex;flex-wrap:wrap;width:auto;margin:0 auto;padding:0;align-items:center;margin-top:60px;}

   #section02 .title {text-align:center;}
   #section02 h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
   #section02 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:110px;}
   #section02 p {font-size:14px;font-weight:300;letter-spacing:-0.025em;line-height:10px;margin-bottom:45px;margin-top:20px;}

   #section02 img {max-width:100%;}
   #section02 .pic {order:-1;width:100%;margin-bottom:15px;}
   #section02 .let {width:100%;}


   #section02 .left {text-align:left;padding:0;}
   #section02 .right {text-align:left;padding:0;}

   #section02 .let_con h2 {font-size:15px;font-weight:500;letter-spacing:-0.025em;border-bottom:1px solid #333;margin-bottom:20px;}



   #section02 .let ul {font-size:22px;cursor: pointer;}
   #section02 .let ul li {position: relative;margin:0 7px;display:inline-block;}
   #section02 .let li:nth-child(1):before {content:"\e9ea";font-family: xeicon!important;color:#000;}
   #section02 .let li:nth-child(1):hover:before {content:"\e9e9";font-family: xeicon!important;color:#000;}
   #section02 .let li:nth-child(2):before {content:"\e9f1";font-family: xeicon!important;color:#000;}
   #section02 .let li:nth-child(2):hover:before {content:"\e9f0";font-family: xeicon!important;color:#000;}
   #section02 .let li:nth-child(3):before {content:"\e9c0";font-family: xeicon!important;color:#000;}
   /* nth-child 의 nth가 몇번째자식의 몇이 (1)이다.  */
   /* 질문 >>> 아이콘이 세로로 세워져 플렉스를 했는데 왜 이걸 display:inline-block;를 해야하나요? 
   답변 >>>  텍스트(i도 포함)를 박스로 만들고 가로로 가는 성질이 있어서 가로로 만들어 진겁니당 그리고 inline-block은 사이에 4px정도 띄워지는 성질이 있답니당*/



   #section02 .let_con p {font-size:15px;font-weight:300;line-height:17px;margin-bottom:7px;}
   #section02 .let_con strong {font-size:13px;font-weight:300;letter-spacing:0.025em;}



   /*---------------------------------------------------------------------------------------------------------메인배너-------------  #main_banner*/

   #main_banner {padding:90px 0 90px; background:url(../img/main_banner.jpg) no-repeat center center/cover;background-attachment:scroll;color:#fff;}
   #main_banner .container {width:auto;margin:0 auto;}

   #main_banner .left {text-align:left;padding:0 0 120px 28px;font-family: 'Montserrat', sans-serif;}
   #main_banner .left h2 {font-size:22px;font-weight:400;margin-bottom:13px;}
   #main_banner .left p {font-size:17px;font-weight:300;letter-spacing:-0.025em;margin-bottom:10px;}
   #main_banner .left em {font-size:13px;font-weight:300;letter-spacing:-0.025em;}

   #main_banner .right {text-align:right;padding:0 28px 0 0;font-family: 'Montserrat', sans-serif;}
   #main_banner .right h3 {font-size:18px;font-weight:400;margin-bottom:10px;}
   #main_banner .right p {font-size:15px;font-weight:300;letter-spacing:-0.025em;margin-bottom:10px;}
   #main_banner .right em {font-size:14px;font-weight:500;letter-spacing:3px;}


   /*-----------------------------------------------------------------------------------------------------------------비디오--------  #section04*/




   #section04 {padding:120px 28px;width:auto;margin:0 auto;text-align:center;background:#efeeee;}
   #section04 h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
   #section04 hr {display:block;margin:0 auto;border:none;border-bottom:2px solid #666;width:100px;}
   #section04 p {font-size:14px;font-weight:400;letter-spacing:0.025em;line-height:15px;margin-bottom:25px;margin-top:20px;font-family: 'Montserrat', sans-serif;}
   #section04 i {font-size:15px;padding:7px;background:#333;color:#fff;border-radius:5px;cursor: pointer;}
   /* #section04 .container figure {margin-top:50px;} */
   #section04 .container figure i {margin-bottom:20px;}
   #section04 .container .video01 {margin-top:30px;}


   /*---------------------------------------------------------------------------------------------------시승신청------------------  #section05*/

   #section05 {padding:170px 0;background:url(../img/section05_full.jpg) no-repeat top left/cover;background-attachment:scroll;}

   #section05 .right {display:inline-block;text-align:left;width:auto;top:140px;left:50%;transform:translate(15%,110%);color:#fff;font-family: 'Montserrat', sans-serif;}

   #section05 .right h2 {font-size:20px;font-weight:400;margin-bottom:15px;}
   #section05 .right p {font-size:14px;font-weight:300;letter-spacing:-0.025em;line-height:1.2;margin-bottom:20px;}

   #section05 .right .icon a {display:inline-block;font-size:15px;font-weight:400;background:#dbd8d5;color:#000;line-height:35px;width:120px;text-align:center;border-radius:99px;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;margin-left:0;}
   #section05 .right .icon a:hover {background:#333;color:#dbd8d5;} 

   /*---------------------------------------------------------------------------------------------------방문예약신청-----지도-------  #section06*/


   #section06 {padding:120px 28px;background:#efeeee;}
   #section06 .container {width:auto;display:block;margin:0 auto;justify-content:space-between;padding:0;}
   #section06 h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;line-height:40px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
   #section06 p {font-size:15px;font-weight:300;letter-spacing:-0.025em;line-height:17px;margin-bottom:20px;margin-top:20px;}

   #section06 .container .left .res {display:flex;margin-bottom:30px;}
   #section06 .container .left .res a {margin-right:10px;}


   #section06 .container .left a {display:block;font-size:14px;font-weight:300;background:#333;color:#dbd8d5;line-height:35px;width:160px;text-align:center;border-radius:80px;letter-spacing:-0.025em;bottom:100px;left:1300px;opacity:0.9;}
   #section06 .container .left a:hover {background:#dbd8d5;color:#000;}

   /*-----------------------------------------------------------------------------------------------------------------------------#footer*/



   #footer {background:#14120e;color:#f4f4f4;font-weight:300;text-align:center;padding:10px 0;}
   #footer .container {display:block;width:auto;margin:0 auto;padding:20px 0;justify-content:space-between;}
   #footer .customer_link {display:block;line-height:10px;text-align:center;}
   #footer .customer_link li {display:inline-block;position: relative;font-size:12px;font-weight:200;padding:5px 5px;}
   #footer .customer_link li:nth-child(4) {color:#ad7b61;font-weight:300;font-size:13px;}
   #footer .customer_link li~li:before {content:"I";position:absolute;top:5px;left:-5px;color:#fff;}
   #footer hr {border:none;border-top:1px solid #333;}
   #footer .sns {font-size:13px;padding:15px;line-height:0;}
   #footer .sns i {border-radius:50%;background:#ad7b61;padding:10px;}

   #footer .lastfooter figure {margin-bottom:20px;}
   #footer .lastfooter {text-align:center;padding:30px 0;}
   #footer .lastfooter em {font-size:10px;}
   #footer .toTop {display:none !important;position:fixed;bottom:5rem;right:8rem;cursor: pointer;z-index:999;}
   #footer .toTop i {font-size:1.3rem;padding:.5rem;background:#000;color:#fff;}

}
